* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
  }
  
  .board {
    width: 750px;
    height: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: auto;
  }
  